# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node junk
/node_modules
.npm
pids
*.pid
*.seed

# OS junk
.DS_Store
Thumbs.db

# Quasar Stuff
.quasar/
/dist
/dist-ssr
/dist-pwa
/dist-cordova
/dist-electron
/dist-capacitor
/src-capacitor/dist
/src-cordova/dist
/src-electron/dist
/src-pwa/dist
/src-ssr/dist
/src-bex/dist
/quasar.config.js.bak

# IDE folders
.idea
.vscode
*.sublime-project
*.sublime-workspace
